# Set

#### Que.1.Create a set containing the names of your favorite animal.

In [1]:
fav_animals = {"Duck", "Rabbit", "Deer","Elephant"}
print(fav_animals)

{'Elephant', 'Duck', 'Rabbit', 'Deer'}

#### Que.2.Create two sets of integers and perform set operations to find their union,intersection, and symmetric difference. Print the results.

In [2]:
first_set = {2,5,9,8}
second_set = {5,6,8,7}
union_set = first_set.union(second_set)
inter_set = first_set.intersection(second_set)
symm_diff = first_set.symmetric_difference(second_set)
print("union set -----> ",union_set)
print("intersection set -----> ",inter_set)
print("symmetric difference set ------>  ",symm_diff)

union set ----->  {2, 5, 6, 7, 8, 9}
intersection set ----->  {8, 5}
symmetric difference set ------>   {2, 6, 7, 9}

#### Que.3. Create a set of cities. Write a program that checks if a specific city is in the set and prints a message indicating its presence or absence.

In [3]:
cities_set = {"Nagpur", "Amaravati", "Wardha","Mumbai","Pune","Nashik"}
print("Pune" in cities_set)
print("Pune" not in cities_set)
print("Thane" in cities_set)

True
False
False

#### Que.4.Create an empty set and add elements to it using the add() method. Print the set after each addition.

In [4]:
empty_set = set()
empty_set.add(2) 
print(empty_set)
empty_set.add(4)
print(empty_set)
empty_set.add(8)
print(empty_set)
empty_set.add(16)
print(empty_set)

{2}
{2, 4}
{8, 2, 4}
{8, 16, 2, 4}

#### Que.5. Given a set of numbers, remove a specific number from the set. Print the modified set.

In [5]:
num_set = {2,4,8,32,256}
num_set.remove(8)
print("Modified set ------> ",num_set)

Modified set ------>  {256, 32, 2, 4}

#### Que.6.Make two sets of words (strings) and find the words that are unique to each set (not present in both sets). Print the results.

In [6]:
data_science = {"Python","R","Tableau","SAS","Git"}
data_engg = {"Python","Java","Git","SQL"}
unique_set1= data_science.difference(data_engg)
unique_set2= data_engg.difference(data_science)
print("Unique set 1------> ", unique_set1)
print("Unique set 2 -----> ", unique_set2)

Unique set 1------>  {'SAS', 'R', 'Tableau'}
Unique set 2 ----->  {'Java', 'SQL'}

#### Que.7.Define two sets of numbers and determine if one set is a subset of the other. Print a message indicating the relationship.

In [7]:
num_set1 = {2,4,6,8,10}
num_set2 = {2,4,6}

print("Is num_set2 a subset of num_set2 ?: ", num_set2.issubset(num_set1))

Is num_set2 a subset of num_set2 ?:  True

#### Que.8.Make two sets and use the update() method to add the elements from one set to another. Print the updated set.

In [8]:
num_set = {2,8,6,10,12}
name_set = {"Nikita","Mayuri","Aarti"}
name_set.update(num_set)
print("Updated set -----> ", name_set)

Updated set ----->  {2, 6, 8, 10, 12, 'Aarti', 'Mayuri', 'Nikita'}

#### Que.9. Introduce a set of numbers and use a set comprehension to create a new set with only the even numbers.

In [9]:
numbers = {1,24,55,78,93,82,44,13}
even_num = { x for x in numbers if x % 2 == 0} 
print(even_num)

{24, 82, 44, 78}

#### Que.10.Create a set of names. Write a program that uses a loop to iterate through the set and print each name.

In [10]:
name_set = {"Nikita","Shweta","chinu","Sneha","Minu"}
for i in name_set:
    print(i)

Nikita
Minu
Sneha
Shweta
chinu